.show-for-mobile {
	display: block;
	@media (min-width: $desktop-breakpoint) {
		display: none;
	}
}

.show-for-desktop {
	display: block;
	@media (max-width: $desktop-breakpoint - .01rem) {
		display: none;
	}
}
